@media (max-width: 480px) {
    .container {
        flex-direction: column;
        border-radius: 0;
        margin: 0;
    }

    .result {
        flex-grow: 0;
        gap: 20px;
        border-radius: 0 0 25px 25px;
    }

    .summary {
        gap: 20px;
        padding: 20px 30px;
        border-radius: 0px;
    }

    .summary-menu {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .summary-menu li {
        flex: 1;
    }
}

@media (max-height: 700px) and (max-width: 480px) {
    body {
        height: auto;
    }
}