.summary {
    display: flex;
    flex: 1;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 0 25px 25px 0;
}

.summary h2 {
    font-size: 1.125rem;
}


.summary-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    padding: 12px 10px;
    border: 1px solid rgba(0, 0, 0, 3%);
    border-radius: 4px;
    font-size: .875rem;
    font-weight: 800;
}

.summary-menu li:nth-child(n + 2) {
    margin-top: 12px;
}

.summary-menu li p {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: .875rem;
}

.reaction {
    background-color: var(--bg-1);
}

.reaction p {
    color: var(--c1);
}

.memory {
    background-color: var(--bg-2);
}

.memory p {
    color: var(--c2);
}

.verbal {
    background-color: var(--bg-3);
}

.verbal p {
    color: var(--c3);
}

.visual {
    background-color: var(--bg-4);
}

.visual p {
    color: var(--c4);
}

.summary-menu div {
    color: #c2c2c2;
}

.summary-menu li span {
    color: #000000;
    font-weight: 800;
}

.btn {
    display: block;
    background: var(--bg-5);
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    border-radius: 30px;  
}

.btn:hover {
    background: var(--bg-gradient-1);
}